/*Page d'accueil*/


body{
  font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 65px;
    margin-top: 0px;
}
.icone_paramètre{
  width: 20px;
}
table tbody:nth-child(odd) {
    background-color:#d7d7d7;
}
#liste_client{ 
    border-collapse: collapse;
    margin: auto;
    width: 65%;
    margin-top: 50px;
}
#liste_client th, #liste_client td{
    padding: 15px;
    border: 2px solid white;
}
#liste_client th{
    background: #00614E;
    color: white;
    font-weight: bold;
}
.identifiant{
  text-align: center;
}
a{
  color: black;
}
.boutton_ajout{
    background-color:#09599A ;
    color: white;
    margin-left: 620px;
    padding: 11px 65px 11px 65px;
}
.boutton_supprimer{
 background-color: #d63031;
}

/*Page d'ajout d'un client*/

.titre_redirection_accueil{
  color: #00614E;
  font-size: 15px;
  margin-right: 660px;
}
.bouton_creation{
  background-color: #00614E;
  color: white;
  padding: 5px 50px 5px 50px;
  margin-left: 300px
}
#label_style { 
  margin: auto;
  display: block; /* La balise devient de type block. */
	width: 150px;
}
.nom_input, .prenom_input, .age_input, .email_input{
    padding: 0.4rem 0 0.4rem 1rem;
    border: white 0.1rem solid;
    border-bottom: 0.1rem solid grey;
    font-size: 1rem;
    transition: 0.4s;
    max-width: 60%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
input:focus{
  max-width: 100%;
  border: black 0.1rem solid;
}
#myform{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}
h2{
  text-align: center;
}

/*Page MAJ client*/

.bouton_MAJ{
  background-color: #00614E;
  color: white;
  padding: 5px 40px 5px 40px;
  margin-left: 300px;
}
.bouton_suppression{
    color: white;
    padding: 5px 40px 5px 40px;
    margin-left: 300px;
    background-color: #d63031;
}
.crochet_haut{
  margin-right: 890px;
}
.crochet_bas{
  margin-left: 1175px;
}
.trait_haut{
  width: 60%;

}
.trait_bas{
  margin-top: 30px;
  width: 60%;
}
.supprimer_texte{
    text-align: center;
}
