h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
}
.icone_paramètre{
  width: 20px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
table tbody:nth-child(odd) {
    background-color:#d7d7d7;
}
#liste_client { 
    border-collapse: collapse;
    margin: auto;
    width: 93%;
    margin-top: 50px;
  }
  #liste_client th, #liste_client td {
    padding: 8px;
    border: 2px solid white;
    text-align: center;
  }
  #liste_client th {
    background: #00614E;
    color: white;
    font-weight: bold;
  }
.boutton_ajout{
    background-color:#09599A ;
    color: white;
    margin-left: 620px;
    padding: 8px 35px 8px 35px;
}

.boutton_supprimer{
 background-color: #d63031;
}